:markdown
  ### A few words
  Hello and welcome to my world of interior design. My name is Irinel Florescu and I am a graduate of the University of Architecture and Urbanism “Ion Mincu”, Bucharest. The study of architecture has enabled me to discover the beauty and consequence of developing and improving the quality of the interior space in a world in which artificial environment has become the background of most our living. For it gives us the tools and opportunity to create something new out of old, to correct mistakes, to change, adapt and improve interior space to best answer our needs for living, learning, working and relaxing.

  Successful interior design is about much more than just precious materials and beautiful, creative designer furniture. It is about achieving balance through proper negotiation between form and function, aesthetic and pragmatic, desire and possibility, wanting and affording, fantasy and reality. A good and constructive collaboration between designer and client is essential to the success of the design. On one hand, the designer must acquire a good understanding of the client’s needs, expectations, personality and background, on the other the client must be aware of his expectations versus his resources and work with the designer to negotiate the best solution.

  Just like architecture in general, good interior design is the right mix of art (creativity), engineering and economics, skillfully combined to create a beautiful, harmonious space that successfully addresses its function.

  Interior design is, first and foremost, my greatest passion and my way of adding value to the world around me.
