:markdown
  ### Câteva cuvinte
  Bine ați venit în universul meu de amenajări interioare. Sunt Irinel Florescu și sunt absolventă a Universității de Arhitectură și Urbanism „Ion Mincu” din București. Studiind arhitectura am descoperit frumusețea și importanța amenajărilor în dezvoltarea și îmbunătățirea calității spațiului interior, într-o lume în care spațiul construit a devenit mediul în care ne petrecem mai bine de jumătate din viață. Amenajările interioare ne pun la dispoziție instrumentele și șansa de a da o viață nouă unui spațiu vechi, de a îndrepta greșeli, de a modifica, adapta și îmbunătăți spațiul interior astfel încât să răspundă cât mai bine cerințelor noastre de locuire, educare, muncă și recreere.

  O amenajare interioară reușită înseamnă mai mult decât finisaje prețioase sau mobilier „de designer”. Înseamnă găsirea unui echilibru printr-o negociere corectă între formă și funcțiune, între estetic și pragmatic, între dorință și posibilitate, între ceea ce vrem și ceea ce ne permitem, între fantezie și realitate. Este esențială pentru succesul amenajării o colaborare strânsă și constructivă între designer și client. Pe de o parte designer-ul trebuie să înțeleagă bine cerințele, așteptările, personalitatea și contextul de viață al clientului, pe de altă parte clientul trebuie să fie conștient de raportul dintre dorințele sale și resursele de care dispune și să colaboreze eficient cu designer-ul pentru a găsi soluția cea mai bună.

  Ca și arhitectura în general, designul interior de calitate reprezintă combinația corectă între artă, tehnologie și resurse economice, atent dozate și îmbinate pentru a crea un spațiu al frumuseții și armoniei, care răspunde cu succes funcțiunii căreia îi este destinat.

  Designul interior este, mai mult decât orice, pasiunea mea și modul meu de a contribui la îmbunătățirea calității vieții celor din jur.
