article#clients
  .links
    a(href='http://www.investmentromania.com', target='_blank', title='Investment Romania')
      img(src='https://lh5.googleusercontent.com/-LEdn192mbZ8/T8lRX7pcGjI/AAAAAAAACWM/I_tojdTUIjs/s800/Investment%2520Romania.png')
    a(href='http://www.vilaevergreen.ro', target='_blank', title='Vila Evergreen')
      img(src='https://lh6.googleusercontent.com/-Ha7gN_p5KsA/T8lRWPaA3GI/AAAAAAAACWE/wKyfOU0DwC0/s800/Vila%2520Evergreen.png')
    a(href='http://www.bodyexprim.ro', target='_blank', title='BodyExprim')
      img(src='https://lh4.googleusercontent.com/-oFiiT330O1w/T8lRY5KPhcI/AAAAAAAACWU/1SeUAW3MkFE/s800/BodyExprim.png')
  h3 #{i18n['Clients and partners'][lang]}:
