:markdown
  ### Amenajări interioare

  În calitate de designer mă ocup în primul rând de realizarea proiectului de amenajare. Pentru o amenajare reușită, în acord cu cerințele clientului, proiectul constă în construirea unui model tridimensional al spațiului pe baza planurilor de arhitectură furnizate de client și/sau a măsurătorilor personale, la care se adaugă randări fotorealiste care contribuie la elaborarea amenajării și, în final, oferă o imagine exactă a produsului finit. În funcție de dorințele clientului pot oferi, în plus, asistență la alegerea furnizorilor și la achiziționarea diverselor produse necesare amenajării (mobilier, corpuri de iluminat, accesorii, etc.) și asistență de șantier.

  ### Modelare 3D și randare

  Vizualizarea tridimensională a proiectelor constituie un procent semnificativ din activitatea mea. Pe lângă faptul că mă ajută să dezvolt și să-mi prezint ideile, o consider o formă de artă în sine și îmi perfecționez în permanență tehnicile pentru a obține imagini din ce în ce mai realiste. Puteți vedea câteva exemple în slideshow-ul de mai sus și în secțiunea „[portofoliu](/portfolio)”; toate imaginile de pe acest website sunt creații proprii.

  ### Proiectare de mobilier

  Fiecare proiect este unic și, de foarte multe ori, constrângerile de ordin spațial sau funcțional impun realizarea mobilierului la comandă. Cu o experiență de 3 ani într-o firmă producătoare de mobilier la comandă din PAL melaminat, ofer servicii de proiectare de mobilier (bucătării, dormitoare, dressing-uri, mic mobilier, etc.) fie în cadrul unui proiect complet de amenajare, fie ca proiect de sine stătător.

  ### Grafică digitală

  Elemente și compoziții grafice pentru decorare interioară, layout-uri pentru cataloage și prezentări, design de logo-uri și bannere, etc.
