:markdown
  ### Interior design

  As an interior designer my main activity is to create the design project. To ensure a successful design that suits the client’s demands, my projects consist of building 3D models based on architectural blueprints provided by the client and/or my own measurements of the space, completed with photorealistic renderings that help with the process of developing the design and, in the end, provide an accurate image of the finished product. Depending on the client’s wishes I can also provide assistance with contractors and with the purchase of different products (such as furniture, lighting, accessories, etc.) and also assistance during the execution process.

  ### 3D modeling and rendering

  3D visualization is a significant part of my work. Aside from its’ purpose of developing and illustrating my design ideas, I consider it a form of art in itself and continuously work to make it more and more realistic. Please refer to the home page slideshow and “[portfolio](/portfolio)” section for work samples; all the images on this website are commissioned or personal projects.

  ### Furniture design

  Every project is unique and, more often than not, dimensional or functional constraints require custom furnishing. With a 3 years’ experience in a company that produced custom furniture from melamine faced chipboard, I design furniture (kitchen cabinets, wall units, bedroom furniture, dressing units, auxiliary furniture, etc.), either as part of an interior project or as a standalone project.

  ### Digital graphics

  Graphic elements and compositions for interior decorating purposes, presentations or catalogues layouts, logo design, banner design, etc.
