h2 Contact
section.box.clear
  article#contact
    #details
      h2.name Irinel Florescu,
      h3.title Architect & Interior Designer
      .separator
      h3.item
        span.phone #{i18n['Mobile'][lang]}:
        span +40 721 134 396
      h3.item
        span.google Email:
        span.
          <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#114;&#105;&#110;&#101;&#108;&#46;&#102;&#108;&#111;&#114;&#101;&#115;&#99;&#117;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">&#105;&#114;&#105;&#110;&#101;&#108;&#46;&#102;&#108;&#111;&#114;&#101;&#115;&#99;&#117;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      h3.item
        span.skype Skype:
        span irinel.florescu
    #picture
      img(src='/images/irinel-florescu.jpg', title='Irinel Florescu')
  .separator
  include includes/web-links
