h2 Contact
section.box.clear
  article#contact
    #details
      h2.name Irinel Florescu,
      h3.title Architect & Interior Designer
      .separator
      h3.item
        span.phone #{i18n['Mobile'][lang]}:
        span +40 721 134 396
      h3.item
        span.email Email:
        span
          a(href='mailto:irinel.florescu@gmail.com', target='_blank') irinel.florescu@gmail.com
      h3.item
        span.skype Skype:
        span irinel.florescu
    #picture
      img(src='/images/irinel-florescu.jpg', title='Irinel Florescu')
  .separator
  include includes/web-links
