!!! default
html(lang='ro')
  head
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/unsupported.css')
    title Browser not supported :: interiordelight.ro
  body
    #logo
    .message.en
      span Your browser is awfully outdated! &nbsp; Please upgrade to a contemporary one:
    .message.ro
      span Browser-ul tău este îngrozitor de depășit! &nbsp; Instalează-ți unul contemporan:
    .links
      a.chrome(href='http://www.google.com/chrome', target='_blank', title='Google Chrome')
      a.firefox(href='http://www.mozilla.org/firefox', target='_blank', title='Mozilla Firefox')
      a.opera(href='//http://www.opera.com/download', target='_blank', title='Opera')
