header#header div {
  height: 100px;
}
article#portfolio .info {
  filter: alpha(opacity=0);
}
#spread-the-word a.expand {
  font-family: Verdana, Arial, sans-serif;
  width: 120px;
  margin: 5px 0 120px 2px;
  background-position: 0 4px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

