article.slider {
  width: 920px;
  height: 420px;
  margin: 20px auto 44px;
}
article.slider #slider {
  box-shadow: 0 0 12px #ddd;
}
article.about,
article.services {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 439px;
}
article.about {
  background: url("/images/signature.png") no-repeat 95% 100%;
  padding-bottom: 40px;
}
article#latest-work {
  min-height: 204px;
}
article#latest-work .images {
  float: right;
  margin: 5px 0;
}
article#latest-work .images a.fancybox {
  display: inline-block;
  margin-left: 40px;
  color: #797979;
  text-decoration: none;
  padding: 2px;
  border: 1px solid #dedfdf;
  border-radius: 2px;
}
article#latest-work .images a.fancybox:hover {
  border-color: #bbb;
  box-shadow: 0 0 12px #ddd;
}
article#latest-work .images a.fancybox img {
  display: block;
}
article#latest-work .separator {
  width: 200px;
  height: 1px;
  margin: 0;
  clear: none;
}
article#latest-work a.readmore {
  font-size: 85.72%;
  display: inline-block;
  padding-left: 12px;
  background: #fff url("/images/arrows-right.png") no-repeat 0 5px;
}
article#latest-work a.readmore:link,
article#latest-work a.readmore:visited {
  color: #797979;
}
article#latest-work a.readmore:hover {
  border-top-color: #bbb;
  color: #e41b5b;
  text-decoration: none;
}

