@import 'includes/definitions'

#details
#picture
  float left

#details
  width 422px
  margin-right 20px

  .separator
    margin 16px 0

  a:link
  a:visited
    color color-normal
  a:hover
    color color-3

#picture
  width 476px
  margin 6px 0 20px
  img
    padding 2px
    border 1px solid #DEDFDF
    border-radius 2px

h2.name
  margin 0 0 10px
  background transparent url('/images/project-title.png') 10px no-repeat

h2.name
h3.title
  padding-left 40px

h3.item
  span
    display inline-block
    padding-top 20px

span.phone
span.skype
span.google
  display inline-block
  width 100px
  height 44px
  padding-left 80px
  background #FFF url('/images/icons.png') no-repeat
span.phone
  background-position 0 -192px
span.skype
  background-position 0 -256px
span.google
  background-position 0 -128px
