@import 'includes/definitions'

article.slider
  width 920px
  height 420px
  margin 20px auto 44px

  #slider
    box-shadow 0 0 12px #DDD

article.about
article.services
  float left
  margin-top 10px
  margin-bottom 10px
  width 439px

article.about
  background url('/images/signature.png') no-repeat 95% 100%
  padding-bottom 40px

article#latest-work
  min-height 204px

  .images
    float right
    margin 5px 0

    a.fancybox
      display inline-block
      margin-left 40px
      color #797979
      text-decoration none
      padding 2px
      border 1px solid #DEDFDF
      border-radius 2px
      &:hover
        border-color #BBB
        box-shadow 0 0 12px #DDD
      img
        display block

  .separator
    width 200px
    height 1px
    margin 0
    clear none

  a.readmore
    font-size 85.72%
    display inline-block
    padding-left 12px
    background #FFF url('/images/arrows-right.png') no-repeat 0 5px
    &:link
    &:visited
      color color-normal
    &:hover
      border-top-color #BBB
      color color-3
      text-decoration none



